In [1]:
import pandas as pd
import utils

INFO:root:Changing logging level

In [2]:
engine = utils.get_engine()

In [3]:
data = pd.read_html("https://www.bls.gov/charts/consumer-price-index/consumer-price-index-by-category-line-chart.htm")
data = data[0]

In [4]:
data.head()

,Month,All items,Food,Food at home,Food away from home,Energy,Gasoline (all types),Electricity,Natural gas (piped),All items less food and energy,Commodities less food and energy commodities,Apparel,New vehicles,Medical care commodities,Services less energy services,Shelter,Medical care services,Education and communication
0,Jan 2003,2.6%,1.0%,0.3%,2.0%,14.1%,29.3%,-0.8%,10.7%,1.9%,-1.4%,-1.9%,-2.1%,3.0%,3.4%,3.1%,5.1%,2.3%
1,Feb 2003,3.0%,1.4%,0.9%,2.1%,22.0%,43.1%,-0.2%,18.5%,1.7%,-1.5%,-2.3%,-1.4%,2.6%,3.2%,2.7%,5.1%,2.2%
2,Mar 2003,3.0%,1.4%,0.8%,2.2%,23.4%,37.6%,0.8%,34.6%,1.7%,-1.4%,-3.6%,-1.0%,2.9%,3.0%,2.5%,4.7%,2.6%
3,Apr 2003,2.2%,1.2%,0.5%,2.2%,13.0%,15.8%,2.8%,27.3%,1.5%,-1.8%,-3.8%,-1.2%,2.7%,2.9%,2.2%,4.4%,2.6%
4,May 2003,2.1%,1.7%,1.3%,2.2%,9.0%,8.1%,3.7%,24.8%,1.6%,-1.9%,-3.6%,-1.2%,2.5%,3.0%,2.6%,4.5%,1.9%

In [5]:
data.columns = [c.lower().replace(' ', '_').replace('-', '_') for c in data.columns]

In [6]:
data['date'] = pd.to_datetime(data.month)

In [7]:
data.columns

Index(['month', 'all_items', 'food', 'food_at_home', 'food_away_from_home',
       'energy', 'gasoline_(all_types)', 'electricity', 'natural_gas_(piped)',
       'all_items_less_food_and_energy',
       'commodities_less_food_and_energy_commodities', 'apparel',
       'new_vehicles', 'medical_care_commodities',
       'services_less_energy_services', 'shelter', 'medical_care_services',
       'education_and_communication', 'date'],
      dtype='object')

In [8]:
selected_columns = list(set(data.columns)-set(['date', 'month']))

In [9]:
data[selected_columns] = data[selected_columns].apply(lambda x: x.str.rstrip("%").astype(float)/100, axis=1)

In [14]:
data.set_index('date', inplace=True)

In [21]:
data[selected_columns].to_sql('cpi_data',
                              schema='public',
                              index_label='date',
                              if_exists='append',
                              con=engine)

241

In [15]:
data[selected_columns]

,medical_care_commodities,all_items,commodities_less_food_and_energy_commodities,medical_care_services,all_items_less_food_and_energy,shelter,education_and_communication,apparel,food_at_home,electricity,services_less_energy_services,energy,gasoline_(all_types),food_away_from_home,natural_gas_(piped),new_vehicles,food
date,,,,,,,,,,,,,,,,,
2003-01-01,0.030,0.026,-0.014,0.051,0.019,0.031,0.023,-0.019,0.003,-0.008,0.034,0.141,0.293,0.020,0.107,-0.021,0.010
2003-02-01,0.026,0.030,-0.015,0.051,0.017,0.027,0.022,-0.023,0.009,-0.002,0.032,0.220,0.431,0.021,0.185,-0.014,0.014
2003-03-01,0.029,0.030,-0.014,0.047,0.017,0.025,0.026,-0.036,0.008,0.008,0.030,0.234,0.376,0.022,0.346,-0.010,0.014
2003-04-01,0.027,0.022,-0.018,0.044,0.015,0.022,0.026,-0.038,0.005,0.028,0.029,0.130,0.158,0.022,0.273,-0.012,0.012
2003-05-01,0.025,0.021,-0.019,0.045,0.016,0.026,0.019,-0.036,0.013,0.037,0.030,0.090,0.081,0.022,0.248,-0.012,0.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,0.037,0.082,0.066,0.065,0.066,0.066,0.002,0.055,0.130,0.155,0.067,0.198,0.182,0.085,0.331,0.094,0.112
2022-10-01,0.031,0.077,0.051,0.054,0.063,0.069,0.000,0.041,0.124,0.141,0.067,0.176,0.175,0.086,0.200,0.084,0.109
2022-11-01,0.031,0.071,0.037,0.044,0.060,0.071,0.007,0.036,0.120,0.137,0.068,0.131,0.101,0.085,0.155,0.072,0.106
2022-12-01,0.032,0.065,0.021,0.041,0.057,0.075,0.007,0.029,0.118,0.143,0.070,0.073,-0.015,0.083,0.193,0.059,0.104
2023-01-01,0.034,0.064,0.014,0.030,0.056,0.079,0.010,0.031,0.113,0.119,0.072,0.087,0.015,0.082,0.267,0.058,0.101